.container {
  padding: 8px 16px;
  color: theme(colors[black]);
  background-color: theme(colors[white]);
  border-radius: 8px;
  min-width: 100px;
  transition: all 0.6s;
}

.container:hover {
  color: theme(colors[white]);
  background-color: theme(colors[red]);
}
